<html>

  <h1> Musician Sign Up </h1>
  <h3> Fill out the following information to be considered for future bookings! </h3>
  <h5> Step 1: Click the "authenticate email" button below and follow each of the steps </h5>
  <p><i> NOTE: You will be asked to authenticate your gmail account with our app. Failure to do so will prevent you from receiving future bookings! </i></p>
  <button onclick="auth()"> Authenticate Email </button>
  
  <h5> Step 2: Fill out the rest of the information and click submit! </h5>
  <% form_for :musician, @musician, :url => { :action => "create" } do |f| %>
    Email: <%= text_field_tag(:email, defined?(@user_email) ? @user_email : nil)  %><br>
    Select Calendars To Track: <br>
      <%= select_tag(:calendars, defined?(@calendars) ? @calendars : nil, :multiple => true) %> <br>
    Phone Number: <%= text_field_tag(:phone_number) %><br>
    Name: <%= text_field_tag(:name) %><br>
    Primary Instrument: <%= select_tag "primary_instrument", "<option>Guitar</option><option>Drums</option><option>Bass</option><option>Keys/Piano</option>" %><br>
    Secondary Instrument: <%= select_tag "secondary_instrument", "<option>Guitar</option><option>Drums</option><option>Bass</option><option>Keys/Piano</option><option selected=\"selected\">None</option>" %><br>
    <%= hidden_field_tag(:access_token, defined?(@access_token) ? @access_token : nil) %>
    <%= hidden_field_tag(:refresh_token, defined?(@refresh_token) ? @refresh_token : nil) %>
    <%= submit_tag "Submit" %>
  <% end %>
            
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
  
    current_path = window.location.href
    if (current_path.indexOf("?flash=") > -1) {
      message = current_path.split("?flash=")[1].replace(/\+/g, " ")
      alert(message)
    }
    
    function auth() {
      redirect_uri = "<%= @redirect_uri %>"
      client_id = "<%= @client_id %>"
      auth_url = "https://accounts.google.com/o/oauth2/auth?prompt=consent&response_type=code&scope=https://www.googleapis.com/auth/calendar+https://www.googleapis.com/auth/gmail.readonly&access_type=offline&redirect_uri=" + redirect_uri + "&client_id=" + client_id 
      window.location.replace(auth_url)
    }
    
  </script>

</html>